/*Google fonts*/
/*Responsiveness achieved through flexbox and media queries*/
@import url('https://fonts.googleapis.com/css2?family=Concert+One:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap');
html{
    height: auto;
    width: auto;
    margin: 0;
    padding: 0;
}

/* Main Heading */
h1 {
  color: rgb(121, 4, 255);
  background: rgba(240, 228, 239, 0.539);
  border-radius: 20px;
  text-align: center;
  font-size: 24px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  margin-bottom: 5px;
  border:2px solid rgb(240, 1, 41);
}

body{
   font-family: 'Roboto', sans-serif;
    text-transform: capitalize;
    padding: 1rem 2rem;
    margin: 2rem 2rem;
    background-image: none;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: fixed;
    
}
#input{
    font-size: 18px;
    padding: 5px 10px;
    outline: none;
    border: none;
    border-radius: 15px;
    background: rgb(0, 0, 0);
    color:white;
}
#input::placeholder{
    color:#b1349c;
}
#search{
    background: none;
    padding: 5px 20px;
    color: aliceblue;
    outline: none;
    background: rgb(206, 27, 206);
    font-size: 17px;
    border-radius: 15px;
    cursor: pointer;
    border: none;

}
.weather{
    text-align: center;
    color: aliceblue;
}
.box{   
            background-color:lavender;
            border: 2px solid rgb(214, 6, 145);
            border-radius: 8px;
            transition: all 0.5s ease-in-out;
            box-shadow: 3px 3px 5px 2px rgb(221, 97, 180);
            margin:1rem;
            padding:0%;
            width: 100%;
}
.weather{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}
.box:hover{
             transform: rotate(360deg);
            background-color:beige;
}
#city{
    font-size: 30px;
    color:blueviolet;
}
.weather img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: rgba(240, 248, 255, 0.408);
}

#temperature{
    font-size: 18px;
    margin: 0;
    margin-left: 30px;
    margin-bottom: 10px;
    color: black;
}
.temp-box{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0;
}
#clouds{
    font-size: 20px;
    background: rgba(190, 8, 93, 0.778);
    padding: 2px 20px;
    border-radius: 15px;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(22, 18, 18);
    padding: 2rem;
}
.next{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}
.next p,.next h3{
    margin: 3px 0;
}
.forecstD{
    margin: 20px 50px;
    color: rgb(7, 8, 8);
}
.date{
    color:#b1349c;
    display: flex;
    text-decoration: underline;
    justify-content:center ;
}

.weekF:hover{
    background-color: lavender;
}
.cast-header{
    color: rgb(8, 11, 14);
    background: rgba(240, 228, 239, 0.539);
    width: max-content;
    padding: 10px 15px;
    border-radius: 20px;
    font-size: 18px;
    margin-bottom: 5px;
    border:2px solid rgb(240, 1, 41);
}
summary{
    cursor:pointer;
}
.cast-header:hover{
    background-color: rgb(199, 233, 120);
}
.time,.date{
    color: rgb(221, 9, 133);
}
.desc{
    color: rgb(192, 13, 228);
}

#Average1{
    color:black;
    background-color:pink;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
}


.footer #Average1:hover{
    background-color: beige;
}

.footer p{
    background-color: beige;
}
.footer a:hover{
    color: rgb(86, 26, 228);
    cursor:pointer;
}

.templist,
.weekF {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  overflow: auto;
}

.next,
.dayF {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 20%;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
}

.next p,
.dayF p {
  font-size: 16px;
  margin-bottom: 10px;
}
/* Media query for devices with a minimum width of 800px */
@media only screen and (min-width:800px) {
  section{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color: rgb(22, 18, 18);
  }
  article{
      display: block;
      
  }
  aside{
      display: block;
      
  }
  .footer{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
}

/* Media query for devices with a minimum width of 500px and a maximum width of 800px */
@media only screen and (max-width:800px) and (min-width: 500px){
  section{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color: rgb(22, 18, 18);
  }
 
  .templist{
      display:flex;
      flex-wrap: wrap;
      font-size: small;
      justify-content: center;
      padding:0 auto;
  }
  .forecstH{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
  }
  .footer{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
}

/* Media query for devices with a maximum width of 500px */
@media only screen and (max-width:500px){
 section,header{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
 }
 .templist{
      display:flex;
      flex-wrap: wrap;
      font-size: small;
      width:250px;
      height: 400px;
 }
 .weekF{
      width:250px;
      height:400px;
 }
 
 .forecstH,.forecstD{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      background-color: aliceblue;
 }
 .footer{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
 }
}

