/*Google fonts*/
/*Responsiveness achieved through flexbox*/
@import url('https://fonts.googleapis.com/css2?family=Concert+One:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap');
html{
    height: auto;
    width: auto;
    margin-bottom: 0%;
    margin-top: 0%;
}
h1{
    display: flex;
    justify-content: center;
    background-color:black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(223, 203, 247);
    text-decoration: underline;
    
}
header::before{
    background: linear-gradient(45deg,rgba(173, 197, 248, 0.717),rgba(238, 238, 238, 0.679)), url('/background.jpg') no-repeat center center/cover;
    content: "";
    position: absolute;
    top:0;
    left: 0;
    width: 100vw;
    height: 10vh;
    z-index: -1;
        
}

body{
   font-family: 'Roboto', sans-serif;
    text-transform: capitalize;
    padding: 1rem 2rem;
    margin: 2px 2px;
    background-image: none;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: fixed;
}

#input{
    font-size: 18px;
    padding: 5px 10px;
    outline: none;
    border: none;
    border-radius: 15px;
    background: rgb(0, 0, 0);
    color:white;
}
#input::placeholder{
    color:#b1349c;
}
#search{
    background: none;
    padding: 5px 20px;
    color: aliceblue;
    outline: none;
    background: rgb(206, 27, 206);
    font-size: 17px;
    border-radius: 15px;
    cursor: pointer;
    border: none;

}
.weather{
    text-align: center;
    color: aliceblue;
}
.box{   
            background-color:lavender;
            border: 2px solid rgb(214, 6, 145);
            border-radius: 8px;
            transition: all 0.5s ease-in-out;
            box-shadow: 3px 3px 5px 2px rgb(221, 97, 180);
            margin:1rem;
            padding:0%;
            width: 100%;

            
}
.weather{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}
.box:hover{
             transform: rotate(360deg);
            background-color:beige;
}
#city{
    font-size: 30px;
    color:blueviolet;
}
.weather img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: rgba(240, 248, 255, 0.408);
}

#temperature{
    font-size: 18px;
    margin: 0;
    margin-left: 30px;
    margin-bottom: 10px;
    color: black;
}
.temp-box{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0;
}
#clouds{
    font-size: 20px;
    background: rgba(190, 8, 93, 0.778);
    padding: 2px 20px;
    border-radius: 15px;
}
main{
     display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 50px;
    color: rgb(22, 18, 18);
    padding: 2rem;
}
.next{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}
.next p,.next h3{
    margin: 3px 0;
}
.forecstD{
    margin: 20px 50px;
    color: rgb(7, 8, 8);
}
.weekF{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    border:2px solid black;
    background-color: beige;
    width: 400px;

}

.date{
    color:#b1349c;
    display: flex;
    text-decoration: underline;
    justify-content:center ;
}
.date:hover{
    background-color: pink;
}
.weekF:hover{
    background-color: lavender;
}
.cast-header{
    color: rgb(8, 11, 14);
    background: rgba(240, 228, 239, 0.539);
    width: max-content;
    padding: 10px 15px;
    border-radius: 20px;
    font-size: 18px;
    margin-bottom: 5px;
    border:2px solid rgb(240, 1, 41);
}

summary{
    cursor:pointer;
}

.time,.date{
    color: rgb(221, 9, 133);
}
.desc{
    color: rgb(192, 13, 228);
}
#Average{
    color:black;
    background-color: #4788dd;
    border: 2px solid black;
}
#Average1{
    color:black;
    background-color: #c860d1;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
}

.templist{ 
 width: 600px;
  height: 400px;
  overflow-y: scroll;
  scrollbar-color: rebeccapurple green;
  scrollbar-width: thin;
  background-color: beige;

}
.next{
    border: 2px solid black;
}
.next:hover{
    background-color: lavender;
}
.section #Average:hover{
    background-color: beige;
}
.section #Average1:hover{
    background-color: beige;
}
.container{
    display: flex;
   align-items:stretch;
   justify-content: space-evenly;
   flex-wrap:wrap;
   flex-direction: column;
   

}
.section p{
    background-color: beige;
}
.section a:hover{
    color: rgb(86, 26, 228);
    cursor:pointer;
}
